// 颜色定义规范
$color-background=#222
$color-text = #fff
$color-theme = #ffcd32
$color-highlight = #ffcd32
$color-lowlight = #b18617
$color-text-l = rgba(255, 255, 255, 0.5)


//字体定义规范
$font-size-small = 12px
$font-size-small-s=10px

//边距
$m5=5px
$m15=15px
$wid3=calc((100% - 28px)/3)
